/*  your css code here. If applicable */
*{
	background-color:#cccccc;
}
h1{
	text-align:center;
}
.player_one{
	background-color:white;
	width:500px;
	height:130px;
	border:1px solid black;
	border-radius:5px;
}
a{
	color:black;
	text-decoration:none;
	margin:10px;
	margin-top:20px;
	top:20px;
	position:relative;
	background-color:white;
}
h2{
	text-align:center;
}
.player_two{
	background-color:white;
	height:400px;
	width:320px;
	padding:10px;
	margin-left:100px;
}
.vedio{
	margin-top:0px;
}
h4{
	background-color:white;
	text-align:center;
	margin-top:0px;
}
.song{
	background-color:whitel
}